.menu-list {
  padding-top: 10px;
    width: 80%;
    margin:0 auto;
    padding-bottom: 10px;
  }
  
  .menu-list h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family:'Merriweather', serif ;
  }
  
  .menu-list h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .menu-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
  }
  
